<div class="container">
        <div class="row">
                <div class="col-md-6 col-md-offset-3 panel panel-default">
                    <img src="public/logo.png">
                    <h1 class="margin-base-vertical">Submitted Form Data</h1>
                            <div><b>Username: </b> {{userName}}</div>
                            <div><b>Customer Summary: </b> {{customerSummary}}</div>
                            <div><b>Device Model: </b> {{deviceModel}}</div>
                            <div><b>OS Vendor: </b> {{OSVendor}}</div>
                            <div><b>OS Version: </b> {{OSVersion}}</div>
                            <div><b>Hardware Issue: </b> {{hwIssue}}</div>
                            <div><b>Hardware Action: </b> {{hwAction}}</div>
                            <div><b>Software Issue: </b> {{swIssue}}</div>
                            <div><b>Software Action: </b> {{swAction}}</div>
                            <div><b>Case Note: </b> {{caseNote}}</div>
                            <div><b>Resolution: </b> {{resolution}}</div>
                </div>
        </div>
</div>