<div class="container">
    <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-default">
                <img src="public/logo.png">
                <h1 class="margin-base-vertical">Sign in To Get Started</h1>
                <form class="" ng-submit="signin()" ng-controller="LoginCtrl" id= "techcafe">
                    <div class="blog-login-label"><label for="username">Username:</label></div>
                    <div class="blog-login-element"><input type="text" ng-model="username" name="username" placeholder="username" required/></div>
                    <div class="blog-login-label"><label for="password">Password:</label></div>
                    <div class="blog-login-element"><input type="password" ng-model="password" name="password" placeholder="password" required/></div>
                    <div class="blog-login-button"><button type="submit" class="form-button">Sign in</button></div>
                </form>
            </div>
    </div>
</div>